:root {
    --spacing-500: 40px;
    --spacing-300: 24px;
    --spacing-200: 16px;
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box;
    font-family: 'Outfit';
}

body{
    height: 100vh;
    padding: 0px;
    margin: 0px;
    background-color: var(--slate-300);
    justify-items: center;
    align-content: center;
}

.card{
    width: 320px;
    height: 499px;
    border-radius: 20px;
    background-color: var(--white);
    padding: var(--spacing-200);
    text-align: center;
    box-shadow: 0px 25px 25px rgb(0, 0, 0, 0.047);
}

.card img{
    width: 288px;
    height: 288px;
    border-radius: 10px;
}

.title {
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0px;
    font-weight: 700;
    color: var(--slate-900);
}

.description {
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    font-weight: 400;
    color: var(--slate-500);
}